services:
  data-dispatcher-service:
    build: .
    container_name: data-dispatcher-service
    env_file: .env
    volumes:
      - ./src/pb:/app/src/pb
    networks:
      - tpp-network

networks:
  tpp-network:
    external: true
